/* 
// 06. Hero
*/

@mixin hero-bg-overlay {
  background-repeat: no-repeat;
  display: block;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-main {
  align-items: center;
  padding: 0px 0 20px;
}

.hero-1-main {
  font-size: 4rem;
}

// ***** Hero 1 ***** //
.hero-1-bg {
  padding: 90px 0 100px;
}

// ***** Responsive ***** //
@media (max-width: 576px) {
  .hero-main {
    padding: 0px 0 30px;
  }
}

@media (max-width: 768px) {
  .hero-main {
    justify-content: center;
    padding: 0px 0 30px;
  }
}
